[core]
    editor = nvim
[init]
    defaultBranch = main
[fetch]
    prune = true
[pull]
    ff = only
[include]
    path = ~/.config/dotfiles/machine/gitconfig
[include]
    path = ~/.gitconfig.local
[include]
    path = ~/.config/dotfiles/local/gitconfig
